/* Add CSS Styling */

.odd-numbered {
    background-color: #FFA8B5;
    font-family: Verdana, 'DejaVu Sans', sans-serif
}

.third {
    font-size: 24px;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth {
    background-color: rgb(145, 255, 120);
    font-weight: bold;
}